/* ----STYLESHEET FOR CAM Financials Solutions ----*/

/* ---- BASE STYLES ---- */
/* General Styles */

   html {
      font-size: 16px;
   }

   body {
      background-color: whitesmoke;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      text-align: left;
  }

  ul,
  ol {
     list-style-type: none;
     margin: 0;
     padding: 0;
  }

  a {
   text-decoration: none;
   color: darkslategrey;
  }

  p {
     line-height: 1rem;
  }

  img {
     width: 100%;
  }

  .content-wrapper {
     width: 100%;
     margin: 1.25rem 0;
  }

  .top a {
   background-color: #67be3b;
   color: white;
 }

 

  /* ------------------ Base Header & Footer Styles ------------------ */

   header,
   footer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   header .content-wrapper {
      display: flex;
      align-items: center;
      background-color: rgb(163, 162, 162);
      justify-content: center;
      flex-flow: row nowrap;
      margin: 0;
      width: 100%;
   }

   h1 span {
      color: #67be3b;
   }

   h1 {
      font-family: 'Poppins', sans-serif;
      font-size: 2rem;
      font-weight: 700;
      color: #ffffff;
      padding: 1rem;
      margin: .5rem;
     }

   h2 {
      font-family: 'Poppins', sans-serif;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;
   }

   header nav {
      font-size: 1.25rem;
      font-weight: 500;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
      width: 60%;
   }

   header nav ul {
      font-weight: 600;
      display: flex;
      justify-content: space-around;
      width: 100%;
   }

   header nav ul li {
      font-size: 1.125rem;

   }
   
   footer .content-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
   }

   .footer-content {
      display: flex;
      flex-flow: column wrap;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 100%;
   } 

   .footer-content p {
      line-height: 1.5rem;

   }


/* --------------------- Mobile Styles - Homepage ------------------- */

header .content-wrapper {
   display: flex;
   flex-flow: column wrap;
   margin: 0;
   width: 100%;
   }

   h1 {
      font-size: 1rem;
      color: #ffffff;
      padding: 1rem;
      margin: .15rem;
   }

   header nav ul {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      margin-bottom: .5rem;
   }

   a {
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-content: center;
      color: white;
   }

   .hero-image {
      background: url('../img/hero.jpg');
      background-size: cover;
      background-position: center;
      min-height: 450px;
      display: flex;
      justify-content: center;
   }

   .about .content-wrapper {
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
      align-items: center;
   }

   .about-us h2 {
      font-size: 1rem;
      font-weight: 700;
      margin-top: 1rem;
      padding: 1rem .4rem 0;
   }

   .about-us h4 {
      text-align: center;
      margin: .5rem 0;
   }

   .about-us p {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      line-height: 1.5rem;
      width: 90%;
      margin: .5rem 0;
   }

   .content-wrapper .about-items {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      align-items: center;
   }

   .about-items p {
      line-height: 1.5rem;
      width: 90%;
   }

   .about-items img {
      width: 70%;
      margin: 1rem;
   }

   .footer-content img {
      width: 45%;
   }

/* ==========================================================================
   Services Page
   ========================================================================== */

   header .services-page a {
      color: white;
   }

   .services .content-wrapper {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      margin: .5rem 0;
   }

   .services-content {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 100%;
   }

   .services h3 {
      color:#67be3b;
      text-align: left;
      margin-bottom: 2rem;
      width: 90%;
   }

   .services-content h4 {
      color: #67be3b;
      margin: 1px 0;
      font-weight: 700;
   }

   /* ==========================================================================
   FAQ Page
   ========================================================================== */

   .faq .content-wrapper {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
   }

   .faq-content {
      width: 90%;
   }

   .faq h2 {
      font-size: 1.25rem;
      font-weight: 700;
      color: #67be3b;
   }

   .faq h4 {
      color: #67be3b;
      margin-top: 2.5rem;
   } 

   .faq p {
      line-height: 1.25rem;
   }

   .faq-content ul {
      list-style-type: square;
      list-style-position: outside;
      padding-left: 2rem;
   
   }

   .faq-grid {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 1rem;
   }

   .grid-items {
      display: flex;
      justify-content: center;
      border: 2px solid #67be3b;
      padding: .5rem;
      font-size: 1rem;
      text-align: left;
   }

   .faq-grid .heading {
      font-weight: 700;
   }

   /* ==========================================================================
   Contact Page
   ========================================================================== */

   .contact .content-wrapper {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
   }

   .contact h3 {
      margin-bottom: 1rem;
   }

   .contact p {
      text-align: center;
      line-height: 1.5rem;
   }


/* --------------------- Tablet Styles - Homepage -------------------- */

@media only screen and (min-width: 768px) {
   /* Tablet styles here */ 

/* General Styles */

   h1,
   h2 {
      font-size: 1.15rem;
   }

/* Header Styles */
   header .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: row nowrap;
      margin: 0;
      width: 100%;
      }
   
   header {
      background-color: rgb(163, 162, 162);
      display: flex;
      justify-content: center;
      }
   
    header nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
   }

   header nav ul li {
      padding: .4rem;
   }

   a {
      font-size: 1rem;
      color: white;
   }

   .hero-image {
      min-height: 650px;
    }

   .content-wrapper .about-items {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      align-items: center;
   }

   /*.about-items p {
      line-height: 1.5rem;
      width: 50%;
   }

   .about-items img {
      width: 50%;
      margin: 1rem;
   }*/
    
   

   /* ==========================================================================
   Services Page
   ========================================================================== */

   header .services-page {
      margin: 5% 0;
   }

   header .services-page nav ul {
      padding-left: 35%;
   }


   .services-page h1 {
      margin: 0;
      padding: 0;
   }

   /*.content-wrapper .services-page {
      display: flex;
      flex-flow: row wrap;
      justify-content: ;
      
   }*/

   .services .content-wrapper h3 {
      width: 100%;
      text-align: left;
   }

   .services .content-wrapper .services-content {
      justify-content: flex-start;
   }

   .services-content h4 {
      margin-bottom: -.5%;
      font-weight: 700;
   }

   /* ==========================================================================
   Contact Page
   ========================================================================== */

   .contact form {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;

   }

}

/* --------------------- Desktop Styles - Homepage -------------------- */

   @media only screen and (min-width: 1200px) {
      /* Desktop styles here */
    
      /* General Styles */ 

   h1 {
      font-size: 1.75rem;
   }

   header .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: row nowrap;
      margin: 0;
      width: 100%;
      }
   
   header {
      background-color: rgb(163, 162, 162);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row nowrap;
      }

   a {
      color: white;
      font-size: 1.15rem;
   }

   .hero-image {
         min-height: 650px;
         padding: 30rem 0;
      }

   header nav ul {
         flex-flow: row nowrap;
      }
      
      header nav ul li {
         padding: .75rem;
      }

      .about-us .content-wrapper {
         display: flex;
         justify-content: center;
         flex-flow: row wrap;
         align-items: center;
      }

      .about-us h2 {
         font-size: 1.5rem;
         padding: 1.75rem 0;
      }

      .about-us h4 {
         font-size: 1.25rem;
      }

      .about-us p {
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 1.15rem;
         width: 75%;
      }

      .content-wrapper .about-items {
         display: flex;
         justify-content: space-between;
         flex-flow: row wrap;
         align-items: center;
         width: 25%;
      }
   
      .about-items {
         display: flex;
         flex-flow: row wrap;
         justify-content: space-between;
         align-items: center;
      }
   
      .about-items p {
         line-height: 1.5rem;
      }
   
      .about-items img {
         margin: 1rem;
      }
   
   
      .about-items {
         width: 25%;
         padding-bottom: 1.25rem;
      }
   
      p {
         line-height: 1.5rem;
      }
   
      img {
         margin: 1rem;
      }
   
   .footer-content img {
         width: 15%;
      }

   .footer-content h6 {
      font-size: 1rem;

   }


/* ==========================================================================
   Services Page
   ========================================================================== */

   /*.services .content-wrapper {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: flex-start;
      
   }


   .services h3 {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .services-content h4 {
      margin-bottom: -30%;
      font-weight: 700;
    }

    .services-content p {
       justify-content: flex-start;

    }


    ul .faq-content {
       list-style-type: circle outside none;
    }*/
   
    * ==========================================================================
    FAQ Page
    ========================================================================== */
    
    .faq .content-wrapper {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
   } 

   .faq-content {
      width: 75%;
   }

   .faq-grid {
      width: 55%;
      margin-left: 20rem;
   }


}

   
   


     
     

    
 