/* ----STYLESHEET FOR CAM Financials Solutions ----*/

/* ---- BASE STYLES ---- */
/* General Styles */

   html {
      font-size: 16px;
   }

   body {
      background-color: whitesmoke;
      color: black;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      text-align: left;
  }

  ul,
  ol {
     list-style-type: none;
     margin: 0;
     padding: 0;
  }

  a {
   text-decoration: none;
   color: darkslategrey;
  }

  p {
     line-height: 1rem;
  }

  img {
     width: 100%;
  }

  .content-wrapper {
     width: 100%;
     margin: 20px 0;
  }

  /* ------------------ Base Header & Footer Styles ------------------ */

   header,
   footer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   header .content-wrapper {
      display: flex;
      align-items: center;
      background-color: rgb(163, 162, 162);
      justify-content: center;
      flex-flow: row wrap;
      margin: 0;
      width: 100%;
   }

   header {
      padding: .75rem 0;
   }

   h1 span {
      color: #2b7c03;
   }

   h1 {
      font-size: 2rem;
      font-weight: 700;
      color: #ffffff;
      padding: 1rem;
      margin: .5rem;
     }

   h2 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;
   }

   header nav {
      font-size: 1.25rem;
      font-weight: 500;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
      width: 60%;
   }

   header nav ul {
      font-weight: 600;
      display: flex;
      justify-content: space-around;
      width: 100%;
   }

   header nav ul li {
      font-size: 1.125rem;

   }
   
   footer {
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      justify-content: center;
   }

   footer p {
   margin: 0; 
   }

   footer .content-wrapper {
      display: flex;
      justify-content: center;
      width: 55%;
      margin: 1rem 0;
   }

   footer .contact {
      margin: .5rem 0;
   }

   footer .copyright {
      margin: 1rem 0;
   }

/* --------------------- Mobile Styles - Homepage -------------------- */

   h1 {
      font-size: 1rem;
      color: #ffffff;
      padding: 1rem;
      margin: .15rem;
   }

   header nav ul {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
   }

   header nav ul li {
      font-size: .875rem;
      padding: .25rem 0;
   }

   a {
      display: flex;
      justify-content: center;
      align-content: center;
   }


   .hero-image {
      background: url('../img/hero.jpg');
      background-size: cover;
      background-position: center;
      min-height: 450px;
      display: flex;
      justify-content: center;
   }
 
   h2 {
      font-size: 1rem;
      font-weight: 700;
      margin-top: 1rem;
      padding: 1rem .4rem 0;
   }

   p {
      width: 90%;
   }

   .about .content-wrapper {
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
      align-items: center;
   }

   .about-items {
      align-items: flex-start;
      display: flex;
      justify-content: center;
      width: 90%;
   }

   img {
      width: 60%;
      margin: 1rem;
   }

/* --------------------- Tablet Styles - Homepage -------------------- */

@media only screen and (min-width: 768px) {
   /* Tablet styles here */ 

/* General Styles */

   h1,
   h2 {
      font-size: 1.15rem;
   }

/* Header Styles */
   header .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-flow: row nowrap;
      margin: 0;
      width: 100%;
      }
   
   header {
      background-color: rgb(163, 162, 162);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row nowrap;
      }
   
    header nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
   }

   header nav ul li {
      padding: .4rem;
   }

   a {
      font-size: 1rem;
      color: white;
   }

   .hero-image {
      min-height: 650px;
    }

   .about .content-wrapper {
      display: flex;
       flex-flow: row wrap;
       justify-content: space-evenly;
   } 
   
   .about-items {
      width: 50%;
      justify-content: center;
      height: 250px;
      }
   
   p {
         font-size: 1.1rem;
      }

   .light img {
      height: 260px;
      } 
   }
/* --------------------- Desktop Styles - Homepage -------------------- */

   @media only screen and (min-width: 1200px) {
      /* Desktop styles here */
    
      /* General Styles */ 

   h1 {
      font-size: 2rem;
   }

   h2 {
      font-size: 1.75rem;
      }

   header .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: row nowrap;
      margin: 0;
      width: 100%;
      }
   
   header {
      background-color: rgb(163, 162, 162);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row nowrap;
      }

   a {
      color: white;
      font-size: 1.15rem;
   }

   p {
      font-size: 1.25rem;
      }
      
   .hero-image {
         min-height: 650px;
         padding: 30rem 0;
      }

   header nav ul {
         flex-flow: row nowrap;
      }
      
      header nav ul li {
         padding: .75rem;
      }


   .about .content-wrapper {
         display: flex;
         flex-flow: row wrap;
         justify-content: space-between;
     } 
     
   .about-items {
      display: flex;
      width: 25%;
      justify-content: center;
      height: 300px;
      margin: 2rem 0;
        }
     
     }
  
     
 